@using Microsoft.AspNetCore.Http
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Hi
        @*@Context.Request.Query["e"].ToString()*@
    </h1>
</body>
</html>